/* Header.css */
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Align items to the right */
  align-items: center; /* Center items vertically */
}

.time {
  font-family: 'Baloo', cursive;
  color: #192a56; 
  font-size: 1.5rem;
  margin-left: 20px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align items horizontally */
}

.nav-link {
  text-decoration: none;
  font-family: 'Baloo', cursive; 
  color: #192a56; 
  font-size: 1.5rem;
  margin: 15px; 
  transition: all 0.3s ease; 
}

.nav-link:hover {
  color: #ff6e7f;
  font-size: 1.7rem;
  padding-top: 0rem; 
  padding-bottom: 0rem;
}


