/* Home.css */
.home {
  background: linear-gradient(90deg, #ff6e7f 0%, #bfe9ff 100%);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 75%;
  height: 60%;
  background: rgba(255, 255, 255, 0.2);
  color: #333;
  border-radius: 20px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  font-family: 'Baloo', cursive;
}

.content {
  display: flex;
  /* justify-content: space-between; Remove this line */
  width: 100%; /* Ensure the content takes full width */
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 40%; /* Adjust the width as needed */
}

.photo {
  padding: 20px;
  border-radius: 50%;
  width: 50%; /* Adjusted width */
  margin-left: 105px;
  margin-top: 50px;
}

h1 {
  font-size: 3rem;
  margin-top: 30px; /* Add margin between photo and name */
  margin-left: 105px; /* Add margin to separate the name from the photo */
}

.TextBox {
  margin-left: 0;
  margin-right: 60px;
  margin-top: auto; /* Center vertically */
  margin-bottom: auto; /* Center vertically */
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #333;
  font-size: 1.5rem;
  overflow: auto;
  flex: 1;
  font-width: Extra-Light;
}

span{
  color: #ff6e7f;
  
}
