/* Home.css */
.home {
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #ff6e7f 0%, #bfe9ff 100%);
  color: #fff;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay {
  width: 80%;
  height: 70%;
  background: rgba(255, 255, 255, 0.4);
  color: #333;
  border-radius: 20px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  font-family: 'Baloo', cursive;
  z-index: 1;
}

.content {
  display: flex;
  /* justify-content: space-between; Remove this line */
  width: 100%; /* Ensure the content takes full width */
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 40%; /* Adjust the width as needed */
}

.photo {
  border-radius: 40%;
  width: 50%; /* Adjusted width */
  margin-left: 105px;
  margin-top: 100px;
  border: 10px solid #192a56;
}

h1 {
  font-size: 3rem;
  margin-top: 30px; 
  margin-left: 105px;
  margin-bottom: 100px;
  white-space: nowrap;
}

.TextBox {
  margin-left: ;
  margin-right: 60px;
  margin-top: auto; /* Center vertically */
  margin-bottom: auto; /* Center vertically */
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  color: #333;
  font-size: 1.5rem;
  overflow: auto;
  flex: 1;
  font-width: Extra-Light;
}

p{
  margin-left: 15px;
  color: #192a56;
}

span{
  color: #ff6e7f;
}

.typewriter{
  color: #ff6e7f;
}

.bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: floatBubble 10s ease-in-out infinite;
  z-index: 0;
}

@keyframes floatBubble {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5vh) translateX(5vw) rotate(180deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .home {
    height: auto;
    flex-direction: column;
    align-items: stretch;
  }
  .overlay {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 30px;
  }
  .content {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
  }
  .photo {
    width: 60%;
    margin: 0 auto;
    margin-top:50px;
  }
  h1 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .TextBox {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    height: auto;
    flex-direction: column;
    align-items: stretch;
  }
  .overlay {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 30px;
  }
  .content {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
  }
  .photo {
    width: 70%;
    margin: 0 auto;
    margin-top:50px;
  }
  h1 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .TextBox {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}